/* 사이드바 css */

.SideBar {
  margin: 20px;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column; /* 자식 요소를 수직으로 배치 */
    width: 178px;
    height: 630px;
    padding: 1rem; /* padding 값을 통합 */
    justify-content: space-between; /* 자식 요소 사이에 균등한 간격을 설정 */
    align-items: flex-start; /* 자식 요소를 교차축의 시작점에 정렬 */
    border-radius: 10px;
    background-color: #0554f2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* 그림자 설정 */
  }
  
  .Step-Section {
    display: flex; /* Flexbox를 사용하여 자식 요소를 수평으로 배치 */
    flex-direction: column; /* 자식 요소를 수직으로 배치 */
    justify-content: flex-start; /* 자식 요소를 컨테이너의 시작점에 정렬 */
    list-style: none; /* 리스트 점 없애기 */
    color: white;
    font-size: 14pt;
    padding: 0; /* 리스트 요소의 기본 패딩 제거 */
  }
  
  .Step {
    padding-top: 50px; /* 상단 패딩 설정 */
  }
  
  .Step-Text {
    margin-top: 20px; /* 비율 대신 픽셀 값으로 설정 */
  }
  
  
 


  /* progress 바 css */
  .progress-bar-container {
    position: relative;
    left: 10px;
    height: 20px;
    width: 100pt;
    background-color: #818181;
    border-radius: 13px;
    margin: 20px 0;
  }
  
  .progress {
    
    height:20px;
    background-color: white;
    border-radius: 10px;
    transition: width 0.3s;
  }
  
   /* 페이지 이동버튼 css */
  
  .Next {
    display: flex;
    position: relative;
    top: 210px; /* 원래 위치에서 10px 아래로 이동 */
    left: 1080px; /* 원래 위치에서 20px 오른쪽으로 이동 */
    background-color: #0554f2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12pt;
    margin-top: 20px;
    transition: background-color 0.3s;
  }

  .Back {
    display: flex;
    position: relative;
    top: 210px; /* 상단에 위치 */
    left: 0; /* 왼쪽에 위치 */
    background-color: white;
    color: rgb(11, 11, 11);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12pt;
    margin-top: 20px;
    transition: background-color 0.3s;
  }